<p id="notice"><%= notice %></p>

<h2>Posts</h2>
<% if (@posts.count == 0) %>
  <p>There are no posts to display.</p>
<% end %>
<%= link_to 'New Post', new_post_path %>
<% @posts.order(created_at: :DESC).each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to post.title, post, {class: "panel-title"} %>
    </div>
    <div class="panel-body">
      <p><%= post.text %></p>
      Posted by <%= link_to "#{User.find(post.user_id).name}", User.find(post.user_id) %>
    <%= link_to 'Edit', edit_post_path(post), {class: "pull-right"}  if session[:user_id] == post.user_id %>
     </div>
  </div>
<%end%>


